.callout[data-callout="course-info"] {
    --callout-icon: lucide-graduation-cap;
    --callout-color: 229, 202, 242;
}

.callout[data-callout="def"] {
    --callout-icon: lucide-bookmark;
    --callout-color: 191, 232, 191;
}

.callout[data-callout="thm"] {
    --callout-icon: lucide-arrow-down-right;
    --callout-color: 255, 218, 117;
}

.callout[data-callout="habits"] {
    --callout-icon: lucide-atom;
    --callout-color: 255, 179, 71;
}

.callout[data-callout="heart"] {
    --callout-icon: lucide-heart;
    --callout-color: 236, 147, 147;
}

.callout[data-callout="obs"] {
    --callout-icon: lucide-eye;
    --callout-color: 235, 204, 255;
}

.callout[data-callout="goal"] {
    --callout-icon: lucide-goal;
    --callout-color: 255, 163, 102;
}

.callout[data-callout="idea"] {
    --callout-icon: lucide-message-circle-heart;
    --callout-color: 184, 221, 234;
}

.callout[data-callout="impl"] {
    --callout-icon: lucide-wrench;
    --callout-color: 255, 189, 189;
}

.callout-title-inner {
    color: var(--text-normal);
}

// // Default/General callout
// .callout {
//     --callout-icon: lucide-shapes;
//     --callout-color: 182, 196, 182;
// }

// // Primary Theme callouts
// .callout[data-callout="note"] {
//     --callout-icon: lucide-sticker;
//     --callout-color: 200, 175, 155;
// }

// .callout[data-callout="abstract"] {
//     --callout-icon: lucide-loader;
//     --callout-color: 34, 152, 225;
// }

// .callout[data-callout="summary"] {
//     --callout-icon: lucide-align-justify;
//     --callout-color: 234, 181, 52;
// }

// .callout[data-callout="tldr"] {
//     --callout-icon: lucide-book-open-text;
//     --callout-color: 240, 180, 225;
// }

// .callout[data-callout="info"] {
//     --callout-icon: lucide-badge-info;
//     --callout-color: 71, 162, 187;
// }

// .callout[data-callout="todo"] {
//     --callout-icon: lucide-list-todo;
//     --callout-color: 58, 173, 252;
// }

// .callout[data-callout="tip"] {
//     --callout-icon: lucide-clover;
//     --callout-color: 70, 206, 185;
// }

// .callout[data-callout="hint"] {
//     --callout-icon: lucide-search-slash;
//     --callout-color: 70, 206, 185;
// }

// .callout[data-callout="important"] {
//     --callout-icon: lucide-square-asterisk;
//     --callout-color: 246, 113, 118;
// }

// .callout[data-callout="success"],
// .callout[data-callout="check"],
// .callout[data-callout="done"] {
//     --callout-icon: lucide-check-check;
//     --callout-color: 87, 200, 83;
// }

// .callout[data-callout="question"] {
//     --callout-icon: lucide-circle-help;
//     --callout-color: 130, 190, 235;
// }

// .callout[data-callout="help"] {
//     --callout-icon: lucide-life-buoy;
//     --callout-color: 250, 128, 96;
// }

// .callout[data-callout="faq"] {
//     --callout-icon: lucide-circle-help;
//     --callout-color: 130, 190, 235;
// }

// .callout[data-callout="warning"] {
//     --callout-icon: lucide-triangle-alert;
//     --callout-color: 255, 161, 32;
// }

// .callout[data-callout="caution"] {
//     --callout-icon: lucide-construction;
//     --callout-color: 255, 161, 32;
// }

// .callout[data-callout="attention"] {
//     --callout-icon: lucide-megaphone;
//     --callout-color: 255, 161, 32;
// }

// .callout[data-callout="fail"] {
//     --callout-icon: lucide-circle-slash;
//     --callout-color: 226, 72, 86;
// }

// .callout[data-callout="missing"] {
//     --callout-icon: lucide-search;
//     --callout-color: 226, 72, 86;
// }

// .callout[data-callout="danger"] {
//     --callout-icon: lucide-shield-alert;
//     --callout-color: 226, 72, 86;
// }

// .callout[data-callout="error"] {
//     --callout-icon: lucide-ban;
//     --callout-color: 226, 72, 86;
// }

// .callout[data-callout="bug"] {
//     --callout-icon: lucide-bug;
//     --callout-color: 153, 93, 133;
// }

// .callout[data-callout="example"] {
//     --callout-icon: lucide-scroll-text;
//     --callout-color: 216, 141, 130;
// }

// .callout[data-callout="quote"] {
//     --callout-icon: lucide-message-square-note;
//     --callout-color: 173, 214, 171;
// }

// .callout[data-callout="cite"] {
//     --callout-icon: lucide-book-marked;
//     --callout-color: 237, 217, 162;
// }
