:root {
  --list-callout-bg-opacity-light: 0.1;
  --list-callout-bg-opacity-dark: 0.15;
  --list-callout-padding-top: 2px;
  --list-callout-padding-right: 8px;
  --list-callout-padding-bottom: 2px;
  --list-callout-padding-left: 8px;
}

.list-callout {
  position: relative;
  display: list-item !important;
  list-style-position: outside;
  
  /* Ensure content starts from the top */
  &__line {
    position: relative;
    display: inline-block;
    padding: var(--list-callout-padding-top) var(--list-callout-padding-right) var(--list-callout-padding-bottom) var(--list-callout-padding-left);
    width: 100%;
    margin: -2px 0;
    border-radius: 4px;
    background-color: rgba(var(--list-callout-color), var(--list-callout-bg-opacity-light));
    vertical-align: top;
  }

  &__content {
    display: inline-block;
    line-height: inherit;
    vertical-align: top;
  }

  &__marker {
    font-family: var(--font-monospace);
    font-weight: bold;
    color: rgb(var(--list-callout-color));
    display: inline-flex;
    align-items: center;
    line-height: inherit;
    margin-right: 0.2rem;
    padding-bottom: 4px;
    vertical-align: middle;
    
    i {
      width: 1em;
      height: 1em;
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
    }

    svg {
      width: 1em;
      height: 1em;
      vertical-align: middle;
    }
  }
}

.theme-dark {
  .list-callout__line {
    background-color: rgba(var(--list-callout-color), var(--list-callout-bg-opacity-dark));
  }
} 