body {
	/***
	    ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
	    IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
	   ***/

	--font-default: 'Inter', sans-serif;
	--h1-font: 'New York', 'Inter', sans-serif;
	--h2-font: 'New York', 'Inter', sans-serif;
	--h3-font: 'New York', 'Inter', sans-serif;
	--h4-font: 'New York', 'Inter', sans-serif;
	--h5-font: 'New York', 'Inter', sans-serif;
	--h6-font: 'New York', 'Inter', sans-serif;
	--font-mono: 'JetBrains Mono', 'Cascadia Code', monospace;
	--heading-padding: 8px;

	/* Fonts */
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/InterVariable.ttf') format('truetype');
		font-style: normal;
		font-weight: 400;
	}
	
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/InterVariable-Italic.ttf') format('truetype');
		font-style: italic;
		font-weight: 100 900;
	}

	@font-face {
		font-family: 'JetBrains Mono';
		src: url('/fonts/JetBrainsMono[wght].ttf') format('truetype');
		font-style: normal;
		font-weight: 100 900;
	}

	@font-face {
		font-family: 'JetBrains Mono';
		src: url('/fonts/JetBrainsMono-Italic[wght].ttf') format('truetype');
		font-style: italic;
		font-weight: 100 900;
	}

	@font-face {
		font-family: 'New York';
		src: url('/fonts/NewYork.ttf') format('truetype');
		font-style: normal;
		font-weight: 100 900;
	}

	@font-face {
		font-family: 'New York';
		src: url('/fonts/NewYorkItalic.ttf') format('truetype');
		font-style: italic;
		font-weight: 100 900;
	}


	h1, h2, h3, h4, h5, h6 {
		padding-top: var(--heading-padding); // Apply local padding to top
		padding-bottom: --heading-padding; // Apply local padding to bottom
	}

	.right-align {
		text-align: right;
	}

	font-size: 14px !important;
	font-weight: 400;
	font-feature-settings: var(--sans-font-features);
	--list-spacing: 0.2em;
	
	code {
		text-shadow: none !important;
		font-family: 'JetBrains Mono', 'Cascadia Code', monospace !important;
		font-feature-settings: var(--mono-font-features);
	}
	#tooltip-content {
		text-shadow: none !important;
	}


	/* Custom Callouts */
	.callout[data-callout="course-info"] {
		--callout-icon: lucide-graduation-cap;
		--callout-color: 229, 202, 242;
	}

	.callout[data-callout="def"] {
		--callout-icon: lucide-bookmark;
		--callout-color: 191, 232, 191;
	}

	.callout[data-callout="thm"] {
		--callout-icon: lucide-arrow-down-right;
		--callout-color: 255, 218, 117;
	}

	.callout[data-callout="habits"] {
		--callout-icon: lucide-atom;
		--callout-color: 255, 179, 71;
	}

	.callout[data-callout="heart"] {
		--callout-icon: lucide-heart;
		--callout-color: 236, 147, 147;
	}

	.callout[data-callout="obs"] {
		--callout-icon: lucide-eye;
		--callout-color: 235, 204, 255;
	}

	.callout[data-callout="goal"] {
		--callout-icon: lucide-goal;
		--callout-color: 255, 163, 102;
	}

	.callout-title-inner {
		color: var(--text-normal);
	}
}
